/* typography */
@font-face {
  font-family: "Feijoa";
  src: url("../../public/assets/fonts/Feijoa-Medium.otf");
  font-weight: 500;
}
@font-face {
  font-family: "Feijoa";
  src: url("../../public/assets/fonts/Feijoa-Bold.otf");
  font-weight: 700;
}
:root {
  --ion-font-family: Feijoa, Times, serif;
}
*[role="heading"] {
  font-weight: 700;
}

/* general styling */
html.plt-desktop body {
  background-color: var(--ion-color-step-950);
}
img {
  height: auto;
}

.card-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, auto));
  align-items: flex-start;
}

/* infinite scrolling */
ion-infinite-scroll#infinite-scroll {
  grid-column: 1 / -1;
  margin: 16px 0;
}

ion-content {
  --padding-bottom: 48px;
}

/* footer search bar */
ion-footer.search-bar ion-toolbar {
  --ion-toolbar-background: var(--ion-background-color);
  --border-color: var(--ion-background-color);
  box-shadow: 0px 0px 20px 20px var(--ion-background-color);
}
ion-footer.search-bar ion-toolbar ion-item {
  --background: var(--ion-card-background);
  --border-color: var(--ion-color-primary);
  --inner-border-width: 0;
  --border-width: 1px;
  --border-radius: 8px;
  --highlight-height: 0;
  margin: 4px 8px;
}
ion-footer ion-toolbar:last-of-type {
  --ion-safe-area-bottom: 0;
}